body{
    background-color: #fff;
}
.navbar-default{
    background-color: #263238;
    border-color: #263238;
   }
   .navbar-inverse{
    background-color: #263238;
    border-bottom: #fff 1px solid;
    
   }
  .navbar-brand{
    margin-bottom: 20px;

  }
  .navbar-brand>h3{
    color: #fff;
  }
  .navbar-responsive-collapse>ul{
    margin-top: 20px;
  }
  .navbar-inverse .navbar-nav>li>a{
    color: #fff;
  }
  .navbar-header>button{
    margin-top: 30px;
  }


.logo>h3{
  color: #fff;
}

.menu{
  margin-top: 32px;
}

.menu>ul>li{
  list-style: none;
  display: inline;
  color: white;
  padding-left: 40px;
  margin-top: 10px;
}

.second_content{
  background-color: #00a98e;
  padding: 30px 0px;
  margin-top: 84px;

}

.video-description>h2{
  color: #fff;
  margin-bottom: 30px;
}

.video-description>ul>li{
  color: #fff;
  font-size: 16px; 
  margin-bottom: 11px;
  margin-left: -20px;
}

@media(min-width:768px) {
    .carousel-control{
        line-height: 400px;
    }}

    @media(max-width:768px) and (min-width: 400px) {
      .carousel-control{
        line-height: 200px;
      }
    .carousel-control .material-icons{
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px;
}}

@media(max-width: 400px) and (min-width: 190px) {
      .carousel-control{
        line-height: 120px;
      }
    .carousel-control .material-icons{
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px;
}
  }
.buy{
  border-radius: 0px;
  border-top: #fff 1px solid;
  background-color: #E4332D;
  margin-top: 17px;
  margin-left: 5px;
}

.third_content{
  background-color: #000;
  height: 120px;
  border-top: #383838 3px solid;
  border-bottom: #383838 3px solid;
  color: #fff;
  text-align: center;
  padding: 17px;
}

.fourth_content{
  background-color: #fff;
  padding: 30px 0px;

}

blockquote{
  background-color:#f1f1f1;
  color:#312F2F; 
  font-size: 16px;
}

.fifth_content{
  background-color: #eae9e9;
  padding: 25px 0px;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

th{
  font-size: 18px;
}

td{
  font-size: 15px;
}
.col-lg-4 a:hover th{
  background-color: #eae9e9;

}

.col-lg-4 a:hover td{
  background-color: #eae9e9;
}

.sixth-content{
  padding: 40px 0px;
}
.sixth-content .container .row>h3{
  font-size: 27px;
  padding-left: 12px;
}

.about-olive>p{
  font-size: 16px;
}


.seventh-content{
  background-color: #eae9e9;
  padding: 20px 0px;
}
.material-icons{
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 50px;
  padding: 5px;
}

.icons{
  margin-top: 20px;
}

.eighth-content{
  padding: 20px 0px;
  background-color: #263238;
  color: #8C8989;
  border-bottom: #92D3C6 1px solid;
  border-top: #92D3C6 10px solid;
}

footer{
  background-color: #263238;
  padding: 10px;
  color:#8C8989;
  font-size: 11px;
}
